<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @short_url.user_id %>
</p>

<p>
  <strong>Original url:</strong>
  <%= @short_url.original_url %>
</p>

<p>
  <strong>Short url:</strong>
  <%= @short_url.short_url %>
</p>

<%= link_to 'Edit', edit_short_url_path(@short_url) %> |
<%= link_to 'Back', short_urls_path %>
